<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="backToIndex()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{index}}</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="unfavoriteArticle()" *ngIf="isFavorite">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="favoriteArticle()" *ngIf="!isFavorite">
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngFor="let item of articles">
    <div [innerHtml]="item.article"></div>
  </ion-grid>
</ion-content>