<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/home" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Latest Article</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!-- card with content and item with person profile  -->
    <ion-card *ngFor="let item of latest" routerLink="/article/{{item.id}}" routerDirection="forward">
        <ion-item>
            <ion-label>
                <h3>{{item.index}}</h3>
                <p>{{item.created_at}}</p>
            </ion-label>
        </ion-item>
        <ion-card-content>
            <div [innerHtml]="item.article"></div>
        </ion-card-content>
        <ion-row>
            <ion-col size="2" no-padding>
                <ion-button size="small" color="primary" fill="clear">
                    Continue Reading
                    <ion-icon name='thumbs-up'></ion-icon>
                </ion-button>
            </ion-col>
            
        </ion-row>
    </ion-card>
</ion-content>