.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.red{
  background-color: #FF0000;
}

.green{
  background-color: #008000;
}
  ion-searchbar{
    --background:#eee !important;
  }
  /* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}