.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.red{
  background-color: #FF0000;
}

.green{
  background-color: #008000;
}
  ion-searchbar{
    --background:#eee !important;
  }