<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/home" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{category}}</ion-title>
  </ion-toolbar>
</ion-header>
 <!--search box -->
 <ion-row no-padding>
    <ion-col no-padding>
      <ion-item style='--background:var(--my-var)' class="itemSlider">
          <ion-searchbar (ionInput)="searchIndex($event)" placeholder="Search Article Category" animated></ion-searchbar>
      </ion-item>
    </ion-col>
  </ion-row>
<ion-content no-padding>
  <!-- list with multiple iterations -->
  <ion-list *ngIf="products">
    <div *ngFor="let item of products">
      <ion-item *ngIf="item.status == '1'; else noArticleBlock" routerLink="/article/{{item.id}}" routerDirection="forward" replaceUrl="true">
      <ion-label style="font-weight: 600;">
        {{item.index}}
      </ion-label>
      <span slot="end" class="dot green"></span>
    </ion-item>
    <ng-template #noArticleBlock>
    <ion-item (click)="hasArticle()">
        <ion-text style="font-weight: 600;">
            {{ item.index }}
        </ion-text>
         <span slot="end" class="dot red"></span>
    </ion-item>
    </ng-template>
    </div>
    
  </ion-list>
  <ion-list *ngIf="products.length == 0">
    <ion-item>
      <span slot="end" class="dot"><ion-skeleton-text animated></ion-skeleton-text></span>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <span slot="end" class="dot"><ion-skeleton-text animated></ion-skeleton-text></span>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <span slot="end" class="dot"><ion-skeleton-text animated></ion-skeleton-text></span>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <span slot="end" class="dot"><ion-skeleton-text animated></ion-skeleton-text></span>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <span slot="end" class="dot"><ion-skeleton-text animated></ion-skeleton-text></span>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <span slot="end" class="dot"><ion-skeleton-text animated></ion-skeleton-text></span>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

