<ion-app>
  <ion-split-pane>
    <ion-menu side="start" menu-id="Menu1">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="contaentClass">
        <ion-list class="listClass">
          <ion-menu-toggle auto-hide="false">
            <ion-item style='--background:var(--my-var)' class="itemIcon" no-padding>
              <span>
                <div class="logoDiv">
                  <img src="assets/uiuxicon.png" class="LogoImg" />
                </div>
                <div class="textDiv">
                  <h3>Pyschology - Article Pocket App</h3>
                </div>
              </span>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item class="mainComponent" lines="full">
              <div class="divPara">
                <p class="textParaComponents">
                  <b>{{p.title}}</b>
                </p>
              </div>
            </ion-item>
          </ion-menu-toggle>
          <div *ngIf="articlesCount != 0; else noArticleBlock">
            <ion-item no-padding lines="full" class="listItem" *ngFor="let item of itemsList" (click)="goToList()">
            <ion-grid no-padding class="listGrid">
              <ion-row>
                <ion-col size="2">
                  <ion-icon [ngStyle]="{'color':itemColor}" class="listIcon" name="paper"></ion-icon>
                </ion-col>
                <ion-col size="8" class="allColPos">
                  <p class="textPara">
                    Latest Articles
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="div-badge">
                    <ion-badge fill="outline" class="buttonList">{{articlesCount}}</ion-badge>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          </div>
          <ng-template #noArticleBlock>
            <ion-item no-padding lines="full" class="listItem" *ngFor="let item of itemsList">
            <ion-grid no-padding class="listGrid">
              <ion-row>
                <ion-col size="2">
                  <ion-icon [ngStyle]="{'color':itemColor}" class="listIcon" name="paper"></ion-icon>
                </ion-col>
                <ion-col size="8" class="allColPos">
                  <p class="textPara">
                    Latest Articles
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="div-badge">
                    <ion-badge fill="outline" class="buttonList">{{articlesCount}}</ion-badge>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          </ng-template>
           <ion-item lines="full" class="listItem" *ngFor="let item of itemsBadge" no-padding>
            <ion-grid class="listGrid" no-padding>
              <ion-row>
                <ion-col size="2">
                  <ion-icon [ngStyle]="{'color':itemColor}" class="listIcon" name="bookmark"></ion-icon>
                </ion-col>
                <ion-col size="8" class="allColPos">
                  <p class="textPara">
                    My Bookmarks
                  </p>
                </ion-col>
                <ion-col size="2">
               <small>Coming soon</small>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="full" class="listItem" *ngFor="let item of itemsCard" no-padding>
            <ion-grid class="listGrid" no-padding>
              <ion-row>
                <ion-col size="2">
                  <ion-icon [ngStyle]="{'color':itemColor}" class="listIcon" name="timer"></ion-icon>
                </ion-col>
                <ion-col size="8" class="allColPos">
                  <p class="textPara">
                    Recently Viewed
                  </p>
                </ion-col>

                <ion-col size="2">
                    <small>Coming soon</small>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item lines="full" class="listItem" (click)="share()" *ngFor="let item of itemsGrid" no-padding>
            <ion-grid class="listGrid" no-padding>
              <ion-row>
                <ion-col size="2">
                  <ion-icon [ngStyle]="{'color':itemColor}" class="listIcon" name="share"></ion-icon>
                </ion-col>
                <ion-col size="8" class="allColPos">
                  <p class="textPara">
                    Share This App
                  </p>
                </ion-col>

                <ion-col size="2">
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item lines="full" class="listItem" *ngFor="let item of itemsTab" no-padding>
            <ion-grid class="listGrid" no-padding>
              <ion-row>
                <ion-col size="2">
                  <ion-icon [ngStyle]="{'color':itemColor}" class="listIcon" name="star"></ion-icon>
                </ion-col>
                <ion-col size="8" class="allColPos">
                  <p class="textPara">
                    Rate
                  </p>
                </ion-col>
                <ion-col size="2">
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item no-padding lines="full" routerLink="/privacy-policy" routerDirection="forward" class="listItem" *ngFor="let item of itemsSegment">
            <ion-grid no-padding class="listGrid">
              <ion-row>
                <ion-col size="2">
                  <ion-icon [ngStyle]="{'color':itemColor}" class="listIcon" name="information-circle"></ion-icon>
                </ion-col>
                <ion-col size="8" class="allColPos">
                  <p class="textPara">
                    Privacy Policy
                  </p>
                </ion-col>
                <ion-col size="2">
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>